# Specify filepatterns you want git to ignore.

.minecraft/.physics_mod_cache/
.minecraft/backups/
.minecraft/config/*.bak
.minecraft/config/**/*.bak
.minecraft/config/cristellib/
.minecraft/config/spark/activity.json
.minecraft/config/forgeendertech/cached.dat
.minecraft/config/WildfireGender/
.minecraft/config/MusicTriggers/debug.toml
.minecraft/config/MusicTriggers/songs/pack.mcmeta
.minecraft/config/MusicTriggers/songs/assets/musictriggers/lang/
.minecraft/config/MusicTriggers/songs/assets/musictriggers/models/
.minecraft/config/MusicTriggers/songs/assets/musictriggers/textures/
.minecraft/config/MusicTriggers/songs/assets/musictriggers/sounds/music/*.ogg
.minecraft/config/MusicTriggers/songs/assets/musictriggers/sounds.json
.minecraft/config/inventoryprofilesnext/
!.minecraft/config/inventoryprofilesnext/inventoryprofiles.json
!.minecraft/config/inventoryprofilesnext/integrationHints/player-defined.json
.minecraft/config/jei/world/
.minecraft/chiselsandbits/clipboard.dat
.minecraft/coremods/
.minecraft/crash-reports/
.minecraft/debug/
.minecraft/ESM/
.minecraft/fancymenu_data/
.minecraft/fancymenu_setups/
.minecraft/immersive_paintings/immersive_paintings*/
.minecraft/immersive_paintings_cache/
.minecraft/impossible_data/
.minecraft/local/
.minecraft/logs/
.minecraft/lightspeed-cache/
.minecraft/kubejs/exported/
.minecraft/kubejs/data/**/*.bak
.minecraft/minecolonies/
.minecraft/modernfix/structureCachev1/
.minecraft/music_sheets/
.minecraft/mods/*.jar
.minecraft/patchouli_books/

.minecraft/plugins/
.minecraft/config/fancymenu/extensions/fmvideo/locals/en_us.local
.minecraft/config/fancyvideo-api.cfg
.minecraft/libvlc.dll
.minecraft/libvlccore.dll

.minecraft/quests_structures/
.minecraft/saves/
.minecraft/simplebackups/
.minecraft/schematics/uploaded/
.minecraft/screenshots/
.minecraft/server-resource-packs/
.minecraft/shaderpacks/
.minecraft/structurize/cache/
.minecraft/structurize/scans/
.minecraft/texturepacks/
.minecraft/XaeroWaypoints/
.minecraft/XaeroWaypoints_BACKUP032021
.minecraft/XaeroWorldMap
.minecraft/*.log
.minecraft/*.json
.minecraft/*.properties
natives/
/*.txt

.minecraft/global_packs/required_data/*.zip
.minecraft/resourcepacks/*.zip